@{
    ViewData["Title"] = "Home Page";
}
@model ShopDBContext
<h1>Welcome to GC Coffee!</h1>

<h1><a href="Home/Shop">Shop</a></h1>
<h1><a href="Home/Login">Login</a></h1>
<h1><a href="Home/Register">Register</a></h1>


