
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome @ViewBag.UserName!</h1>
<h1>@ViewBag.FirstName</h1>
<h1>@ViewBag.LastName</h1>
<h1>@ViewBag.Email</h1>


